<%- include('./partials/header.ejs') -%>

    <div class="container">

        <div class="jumbotron">
          <h1 class="display-4"><%= title %></h1>
          
      </div>

      <% if(title == 'Component List') { %>
        <%- include('./content/component-list.ejs') -%> 
      <% } else if(title == 'Add Component') { %>
        <%- include('./content/add-component.ejs') -%> 
      <% } else if(title == 'Edit Component') { %>
        <%- include('./content/edit-component.ejs') -%> 
      <% } %>

      <% if(title == 'Buisness List') { %>
        <%- include('./content/buisness-list.ejs') -%> 
      <% } else if(title == 'Add Contact') { %>
        <%- include('./content/add-buisness.ejs') -%> 
      <% } else if(title == 'Edit Contact') { %>
        <%- include('./content/edit-buisness.ejs') -%> 
      <% } %>

    </div>

    <%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>
    

    
